*{
    box-sizing: border-box;
}
@keyframes slide {
    0%{
        top: 20px;
    }
    10%{
        top: 100px;
    }
}
.ownpicker{
    width: 100vw;
    height: 700px;
    // margin-top: 20px;
    // margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    @at-root #{&}_li{
        // padding-top: 120px;
        height: 100%;
        width: 200px;
        text-align: center;
        z-index: 10;
        //animation: silde ease 
       // overflow: scroll;
    }
    @at-root #{&}_li_clo{
        transition: all 0.5s ease 0s;
        transform: translate3d(0px, 18px, 0px);
    }
    @at-root #{&}_item{
        height: 100px;
        width: 140px;
        //border: 1px solid red;
    }
}
.swiper-wrapper{
    // border: 1px solid #000;
    padding-top: 100px;
    box-sizing: border-box;
    
}
.swiper-slide{
    height: 20px;
}
.pickers{
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    width: 100vw;
    border: 1px solid #000;
    overflow: visible;
    display: flex;
    @at-root #{&}Swiper{
        width: 100px;
        height: 400px;
       // border: 1px solid #000;
    }
    @at-root #{&}Item{
        height: 10px;
       // line-height: 10px;
        //border: 1px solid red;

    }
}