.bind {
  display: flex;
  justify-content: center;
  font-family: 'PingFang SC Regular';
  
  @at-root #{&}-card {
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 27.6px 2.4px rgba(153, 153, 153, 0.08);
    margin-top: 357px;
    width: 690px;
    height: 724px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @at-root #{&}-portrait {
    border-radius: 50%;
    background-color: rgb(22, 164, 174);
    width: 120px;
    height: 120px;
    margin-top: -60px;
  }
  @at-root #{&}-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 60px;
    margin: 96px 0 114px 0;
  }

  @at-root #{&}-box-row {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    height: 120px;
    width: 570px;
    padding-bottom: 20px;
    border-bottom: #ededed 2px solid;
  }

  @at-root #{&}-icon {
    @at-root #{&}-code {
      width: 40px;
      height: 39px;
    }
    @at-root #{&}-phone {
      width: 28px;
      height: 42px;
    }
  }

  @at-root #{&}-input {
    margin-left: 24px;
    font-size: 30px;
    color: #000;
  }

  @at-root #{&}-inputPL {
    font-size: 30px;
    color: #999999;
  }

  @at-root #{&}-code {
    height: 42px;
    line-height: 42px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 24px;
    max-width: 156px;
    padding: 0 9px;
    color: #2fb9c3;
    border: #2fb9c3 2px solid;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    &:active {
      border-color: #29a6af;
      color: #29a6af;
    }
    &:hover {
      border-color: #38d8e4;
      color: #38d8e4;
    }
    &:focus {
      outline: none;
    }
    outline: none;
  }

  @at-root #{&}-warn {
    margin-top: 10px;
    color: #ff5c57;
    font-size: 24px;
    align-self: flex-start;
  }

  @at-root #{&}-codeDisabled {
    border: #999 2px solid;
    color: #999;
  }

  @at-root #{&}-button {
    width: 630px;
    height: 94px;
    border-radius: 47px;
    background: #2fb9c3;
    border-color: #2fb9c3;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    &:active {
      background: #29a6af;
      border-color: #29a6af;
    }
    &:hover {
      background: #38d8e4;
      border-color: #38d8e4;
    }
    &:focus {
      outline: none;
    }
    color: #fff;
    font-size: 36px;
    border: none;
    outline: none;
  }
}