.top-box{
    width: 690px;
    margin: 0 auto;
    height: 172px;
    display: flex;
    align-items: center;
    .return{
        width: 26px;
        height: auto;
        margin-right: -26px;
    }
    .top-tittle{
        text-align: center;
        color: #000;
        flex-grow:1;
        height: 70px;
        line-height: 70px;
        font-size: 36px;
    }
}
.button-box{
    .button{
        width: 598px;
        height: 83px;
        background-color: #2fb9c3;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-size: 30px;
        line-height: 83px;
        letter-spacing: 6px;
        border-radius: 80px;
    }
}
.input-feedback{
    width: 600px;
    margin: 0 auto;
    display: block;
    height: 424px;
    font-size: 32px;
    border-radius: 20px;
    border: 0;
    box-shadow:  0 0 30px 1px rgba(204, 202, 202, 0.61);    
    padding: 40px 20px;
    outline:none;
}
.score-box{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 600px;
    margin: 0 auto;
    height: 180px;
    line-height: 180px;
    font-size: 34px;
}
.line{
    width: 40px;
    height: 2px;
    margin: 10px;
    background: #000;
}
.just{
    width: 600px;
    height: 160px;
    position: relative;
    top: -80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.just-icon{
    width: 160px;
    height: 160px;
}