.top-box{
    width: 690px;
    margin: 0 auto;
    height: 172px;
    display: flex;
    align-items: center;
    .return-box{
        width: 50px;
        margin-right: -50px;
    }
    .return{
        width: 16px;
        height: auto;
        margin-right: -16px;
    }
    .top-tittle{
        text-align: center;
        color: #000;
        flex-grow:1;
        height: 70px;
        line-height: 70px;
        font-size: 36px;
    }
}
.button{
    width: 598px;
    height: 83px;
    background-color: #2fb9c3;
    margin: 0 auto;
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 83px;
    letter-spacing: 6px;
    border-radius: 80px;
}
.input-feedback{    
    width: 640px;
    margin: 0 auto;
    display: block;
    height: 324px;
    font-size: 32px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 27px 3px rgba(41, 50, 117, 0.08);
    border: 0;
    padding: 40px 20px;
    outline:none;
}
.score-box{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 34px;
}
.line{
    width: 40px;
    height: 2px;
    margin: 10px;
    background: #000;
}
.just{
    width: 400px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.just-icon{
    width: 60px;
    height: 60px;
}