.index {
  height: 100vh;

  @at-root #{&}-top {
    margin-top: 30px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    
    @at-root #{&}-row {
      box-sizing: border-box;
      padding: 0 24px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: 612px;
      height: 66px;
      border-radius: 30px;
      background: #f5f4f7;
    }
  }

  @at-root #{&}-input {
    width: 530px;
    margin-left: 16px;
    color: #000;
    font-size: 24px;
  }

  @at-root #{&}-inputPL {
    color: #ccc;
    font-size: 24px;
  }

  @at-root #{&}-icon {
    &:first-child {
      width: 32px;
      height: 32px;
    }
    width: 44px;
    height: 36px;
  }
}