.body-box{
    width: 750px;
    margin: 0 auto;
    padding-bottom: 180px;
}
.nowOrder-top-box{
    width: 690px;
    margin: 0 auto;
    height: 152px;
    display: flex;
    align-items: center;
    .nowOrder-return{
        width: 16px;
        height: auto;
        margin-right: -16px;
    }
    .nowOrder-top-tittle{
        text-align: center;
        color: #000;
        flex-grow:1;
        height: 70px;
        line-height: 70px;
        font-size: 36px;
    }
}
.all-order{
    width: 78px;
    height: 56px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    font-size: 28px; 
    justify-content: space-between;
    align-items: center;
    color:#999;
}
.all-line{
    width: 70px;
    height: 6px;
    background: #2fb9c3;
}
.order-store-box{
    width: 640px;
    margin: 0 auto;
    height: 324px;
    padding: 0 28px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 29.05px 5.95px rgba(124, 124, 124, 0.1);
    margin-top: 20px;
}
.order-store-top{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-weight: 600px;
    .order-store-name{
        width: 224px;
        display: flex;
        align-items: center;
    }
    .status{
        color: #2fb9c3;
    }
}
.file-type-box{
    height: 122px;
    display: flex;
    align-items: center;
    .order-time-box{
        height: 85px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 28px;
    }
    .order-time{
        font-size: 24px;
        color: #999999;
    }
    .file-type{
        height: 121px;
        width: 121px;
        margin-right: 28px;
    }
}
.file-type-bottom{
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .file-price{
        font-size: 24px;
        color: #727272;
        .price-yuan{
            color: #000;
        }
    }
}
.ToMore{
    width: 150px;
    height: 48px;
    border-radius: 48px;
    border: 1Px solid #3dbec7;
    color: #3dbec7;
    font-size: 26px;
    text-align: center;
    line-height: 48px;
}
.orderStore{
    width: 24px;
    height: 25px;
    margin-right: 18px;
}
