.nav{
    @at-root #{&}Bars{
        height: 90px;
    }
    @at-root #{&}Bar{
        height: 90px;
        width: 100vw;
        box-sizing: border-box;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 2;
    }
    @at-root #{&}Image{
        line-height: normal;
        width: 16px;
        height: 28px;
        position: absolute;
        left: 30px;
    }
    @at-root #{&}Text{
        font-size: 36px;
        }
}