.top-box{
    width: 690px;
    margin: 0 auto;
    height: 172px;
    display: flex;
    align-items: center;
    .return{
        width: 20px;
        height: auto;
        margin-right: -20px;
    }
    .top-tittle{
        text-align: center;
        flex-grow:1;
        height: 70px;
        line-height: 70px;
        font-size: 36px;
    }
}
.order-top-box{
    width: 690px;
    height: 423px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 27.6px 2.4px rgba(153, 153, 153, 0.08);      
}
.order-logo-box{
    width: 690px;
    text-align: center;
    font-size: 30px;
}
.order-logo{
    width: 92px;
    height: 92px;
}
.order-logo-price{
    font-size: 55px;
    font-weight: 600;
}
.order-loge-code{
    font-size: 36px;
    font-weight: 600;
}
.order-detail-table{
    width: 620px;
    margin: 0 auto;
    height: 360px;
    padding: 26px;
    display: flex;
    font-size: 26px;
    margin-bottom: 50px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 27.6px 2.4px rgba(153, 153, 153, 0.08);
}
.order-detail-table-bottom{
    height: 140px;
}
.order-detail-left{
    width: 170px;
    height: 360px;
    color: #7e7e7e
}
.order-detail-left-bottom{
    height: 140px;
}
.order-detail-right{
    width: 450px;
    height: 360px;
}

.order-detail-right-bottom{
    height: 140px;
}
.order-detail-top,
.order-detail-bottom{
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.order-detail-bottom{
    height: 140px;
}