@mixin clumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mine {
    @include clumnCenter;
}
.nav{
    height: 90px;
    width: 100vw;
    line-height: 90px;
    position: fixed;
    top: 0;
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}

.mineTop {
    height: 362px;
    width: 750px;
    position: fixed;
    top: 0px;
    z-index: -1;
    background: #31c0cb;
}
.mineContent{
    @include clumnCenter;
}

.contentHeadpic{
    width: 690px;
    height: 236px;
    margin-top: 260px;
    background: #fff;
    border-radius: 16px;
    @include clumnCenter;
    box-shadow: 1px 1px 10px rgba($color: #888, $alpha: 0.1); 
}
.headPic{
    width: 137px;
    height: 137px;
    border-radius: 50%;
    top: -70px;
}
.headName{
    font-size: 36px;
    position: absolute;
    margin-top: 96px;
}
.headPhone{
    font-size: 28px;
    color: #666;
    margin-top: 24px;
}

.mineList{
    width: 690px;
    height: 460px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mineLists{
    margin-top: 60px;
}
.infoList{
    width: 690px;
    height: 90px;
    box-sizing: border-box;
    padding-bottom: 29px;
    display: flex;
    align-items: flex-end;
    font-size: 28px;
    line-height: 90px;
    box-shadow: 1px 1px 8px rgba($color: #999, $alpha: 0.1);
}
.listText{
    line-height: normal;
    height: 34px;
}
.listImg{
    width: 34px;
    height: 34px;
    margin: 0 30px;
    line-height: normal;
}
.arrow{
    width: 14px;
    height: 26px;
    line-height: normal;
    margin-left: 440px;
}