.bindWX {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'PingFang SC Regular';
  @at-root #{&}-image {
    width: 367px;
    height: 189px;
  }
  @at-root #{&}-title {
    margin-top: 30px;
    font-size: 30px;
    color: #000;
  }
  @at-root #{&}-button {
    margin-top: 50px;
    font-size: 28px;
    color: #fff;
    width: 161px;
    height: 60px;
    background: #2fb9c3;
    border-color: #2fb9c3;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    &:active {
      background: #29a6af;
      border-color: #29a6af;
    }
    &:hover {
      background: #38d8e4;
      border-color: #38d8e4;
    }
    &:focus {
      outline: none;
    }
    outline: none;
    cursor: pointer;
    padding: 0;
    border-radius: 26px;
    line-height: 60px;
  }
}