.top{
    height: 320px;
    background: #32c1cc;
}
.top-box{
    width: 690px;
    margin: 0 auto;
    height: 172px;
    display: flex;
    align-items: center;
    .return{
        width: 36px;
        height: auto;
        margin-right: -36px;
    }
    .top-tittle{
        text-align: center;
        color: #fff;
        flex-grow:1;
        height: 70px;
        line-height: 60px;
        font-size: 36px;
    }
}

.information{
    width: 630px;
    padding: 0 30px;
    height: 223px;
    margin: 0 auto;
    margin-top:-150px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow:  0 0 30px 1px rgb(204, 202, 202);
    .store,.detail{
        width: 138px;
        height: 138px;
    }
    .detail{
        font-size: 24px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0 28px;
        color: #a5a5a5;
        letter-spacing: 1px;
        .phone,.address{
            height: 38px;
        }
    }
    .storeName{
        height: 55px;
        font-size: 32px;
        font-weight: 600;
        color: #000;
        letter-spacing: 2px;
    }
    .detailPng{
        width: 20px;
        height: auto;
        margin-right: 10px;
    }
}
.button-box{
    position: fixed;
    bottom: 70px;
    width: 100vw;
}
.button{
    width: 598px;
    height: 83px;
    background-color: #2fb9c3;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 83px;
    letter-spacing: 6px;
    border-radius: 80px;
}
.content-box{
    width: 650px;
    margin: 0 auto;
    color: #666;
}
.price-table{
    height: 110px;
    font-size: 32px;
    line-height: 110px;
}
.printingPng{
    width: 93px;
    height: 93px;
}
.yuan{
    width: 16px;
    height: auto;
}
.fire{
    width: 70px;
    height: 25px;
}
.price-box{
    height: 136px;
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: space-between;
}
.printing{
    display: flex;
    width: 250px;
    justify-content: space-between;
    color: #ffbb78;
}
.yuan-box{
    display: flex;
    height: 62px;
    width: 104px;
    justify-content: space-between;
    align-items: center;
}