@mixin toShow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.myDocument {
    background: #fff;
    height: 100vh;
}
.myContent{
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    height: 74vh;
}
.docu {
    @at-root #{&}Before{
        width: 16px;
        height: 16px;
        display: block;
        background: #eaeaea;
        border-radius: 50%;
        margin-right: 20px;
        margin-left: 34px;
    }

    @at-root #{&}List{
        height: 160px;
        width: 690px;
        display: flex;
        align-items: center;
        background: #fff;
        margin-top: 30px;
        box-shadow: 1px 1px 8px rgba($color: #999, $alpha: .1);
    }

    @at-root #{&}Content {
        height: 80px;
        width: 440px;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @at-root #{&}Title {
        font-size: 30px;
        max-width: 410px;
        height: 40px;
        @include toShow;
    }
    @at-root #{&}Text{
        width: 400px;
        font-size: 26px;
        color: #999;
        line-height: normal;
        display: flex;
        justify-content: flex-start;
    }
    @at-root #{&}Size{
       width: 160px;
    }

    @at-root #{&}Img{
        width: 80px;
        height: 80px;
        line-height: normal;
        margin-right: 24px;
    }
}

.bule{
    background: #2fb9c3;
}

.arrowright{
    width: 14px;
    height: 26px;
    line-height: normal;
}

.doc {
    @at-root #{&}Bottom{
        height: 124px;
        position: fixed;
        bottom: 0;
    }
    @at-root #{&}Button {
        height: 124px;
        width: 100vw;
        background: #fff;
        box-sizing: border-box;
        display: flex;
        padding: 0 80px;
        align-items: center;
        justify-content: space-between;
    }
    @at-root #{&}Butt{
        width: 260px;
        height: 80px;
        font-size: 30px;
        border-radius: 120px;
        margin: 0;
        padding: 0;
        border: none;
        &:focus {   
            outline: none;
        }
    }
    @at-root #{&}upload{
        border: 2px #2fb9c3 solid;
        color: #2fb9c3;
        padding: 0;
        margin: 0;
        background: #fff;
    }
    @at-root #{&}print {
        background: #2fb9c3;
        color: #fff;
    }
}

.weui-picker{
    
    background: transparent;
    bottom: 220px;
    padding: 0 50px;
    box-sizing: border-box;
    animation: slidesUp ease .3s forwards;
    @at-root #{&}__hd{
        height: 34px;
        position: relative;
        top: 50px;
        z-index: inherit;
        background: transparent;
        &:after{
            border: none;
        }
    }
    @at-root #{&}__action{
        flex: initial;
        opacity: 0;
        //取消
        &:first-child{
            width: 50px;
            height: 50px;
            font-size: 10px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: -50px;
            display: inline-block;  
        }
        // 确定
        &:last-child{
            width: 600px;
            height: 66px;
            top: 602px;
            left: 72px;
            position: fixed;
            border-radius: 40px;
            box-sizing: border-box;
            
        }
        
    }
    @at-root #{&}__bd{
        height: 446px;
        background: transparent;
    }
    @at-root #{&}__mask{
        margin-top: 60px;
        background: transparent;
        overflow: hidden;
        box-sizing: border-box;
    }
   
    @at-root #{&}__group{
        background: transparent;
    }
    
    @at-root #{&}__item {
        background: transparent;
        color: #999;
    }

}


.weui-picker__indicator:before, .weui-picker__indicator:after{
    border-top: #2fb9c3 1px solid;
}

@keyframes slidesUp {
    0% {
        transform: translate3d(0,20%,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}
@keyframes slidesDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

element.style {
    display: none;
}
.weui-animate-slide-up{
    animation: slidesUp linear .3s forwards;
}
.weui-animate-slide-down{
    animation: slidesDown ease .3s forwards;
}

.buttons{
    box-sizing: border-box;
    padding: 20px 50px 0 50px;
    width: 750px;
    height: 246px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    animation: slidesUp linear .3s forwards;
    @at-root #{&}cover{
        position: fixed;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        left: 0;
        bottom: 0;
        background: #fff;
        width: 100vw;
        height: 760px;
    }
}
.shop
{
    @at-root #{&}Title{
        font-size: 30px;
        height: 34px;
        line-height: 34px;
        width: 100%;
        text-align: center;
        color: #333333;
        position: relative;
        bottom: 500px;
        display: flex;
        justify-content: center;
    }
    @at-root #{&}Text {
        display: block;
        width: 500px;
        height: 100%;
        @include toShow;
      
    }
    @at-root #{&}pic{
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 4px;
    }
}
.totallprice{
    font-size: 30px;
    width: 100%;
    text-align: right;
    height: 48px;
    bottom: 20px;
    position: relative;
    letter-spacing: 1px;
}
.price{
    width: 150px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 36px;
    text-align: left;
    color: #2fb9c3;
}

.printbut{
    width: 630px;
    height: 90px;
    outline: none;
    background: #2fb9c3;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
}
.upluadinput{
    position: relative;
    bottom: 80px;
    width: 260px;
    height: 80px;
    opacity: 0;
}
.toast-line{
    display: none;
}

.shopTitleTop{
    height: 38px;
    width: 100vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @at-root #{&}-img{
        width: 30px;
        height: 26px;
        margin: 0;
        position: absolute;
        left: 34vw;
        line-height: normal;
        padding: 0;
    }
    @at-root #{&}-text{
        font-size: 26px;
        height: 26px;
        color: #666;
        line-height: 24px;
        width: 200px;
        text-align: center;
        @include toShow;
        position: relative;
    }
}

.loading{
    @at-root #{&}_cover{
        background: rgba(#000,0.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 2;
    } 
    @at-root #{&}_toast{
        width: 558px;
        height: 366px;
        background: #fff;
        position: absolute;
        z-index: 3;
        border-radius: 40px;
        left: 0; 
        top: 0; 
        right: 0; 
        bottom: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @at-root #{&}_paper{
        width: 100px;
        height: 160px;
        border-top-left-radius: 10px;
        background: linear-gradient(to top, #d7f2f3  30%, #e1f3f4 50%,#dddbdc 51%);
        background-size: 100% 200%;
        // background-position: 0 100%;
        top: -102px;
        position: absolute;
      //  animation: loadingUpPrint linear 6s;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-right: 24px solid #7f7f7f;
			border-bottom: 24px solid transparent;

        }
    }
    @at-root #{&}_printer{
        width: 160px;
        height: 86px;
        background: linear-gradient(to top, #7fcbd0  4%, #cbf4f7 40% 49.4%, #dddcdc 50%,#cccccc 60%);
        border-radius: 24px;
        background-size: 100% 200%;
        background-position: 0 100%;
        position: relative;
        top: 74px;
        right: 30px;
        //animation: loadingUpPrint linear 3s;
    }

    @keyframes loadingUpPrint {
        0%{
            background-position: 0 0%;
        }
        50%{
            background-position: 0 50%;
        }
        100%{
            background-position: 0 100%;
        }
    }
    @keyframes loadingUpPaper {
        0%{
            background-position: 0 0%;
        }
        
        50%{
            background-position: 0 50%;
        }
        100%{
            background-position: 0 100%;
        }
    }

    @at-root #{&}_img{
        width: 160px;
        height: 160px;
        position: absolute;
        top: -102px;
    }
    @at-root #{&}_text{
        letter-spacing: 2px;
        color: #999;
        font-size: 24px;
    }
    @at-root #{&}_button{
        letter-spacing: 1px;
        width: 160px;
        height: 40px;
        top: 86px;
        line-height: 40px;
        padding: 0;
        margin: 0;
        font-size: 32px;
        font-weight: 500;
        border: none;
        outline: none;
        color: #2fb9c3;
        background: transparent;
    }
}

.upload{
    @at-root #{&}Page{
        width: 100vw;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
    }
    @at-root #{&}_img{
        width: 358px;
        height: 250px;
        margin-top: -100px;
    }
     @at-root #{&}_title{
        width: 270px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @at-root #{&}_text{
        font-size: 26px;
        color: #adadad;
    }
    @at-root #{&}_span{
        display: flex;
    }
     @at-root #{&}_item{
        width: 6px;
        height: 6px;
        background: #adadad;
        margin-left: 10px;
        animation: slidesDown 1.4s ease infinite;
        &:nth-child(1) {
            animation-delay: 0.1s; 
        }
        &:nth-child(2) {
            animation-delay: 0.4s; 
        }
        &:nth-child(3) {
            animation-delay: 0.7s; 
        }
        &:nth-child(4) {
            animation-delay: 1s; 
        }
    }
}