
.myDocument {
    background: #fbfbfb;
    height: 100vh;
}
.myContent{
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
   // background: #fbfbfb;
    height: 74vh;
}
.docu {
    @at-root #{&}Before{
        width: 16px;
        height: 16px;
        display: block;
        background: #eaeaea;
        border-radius: 50%;
        margin-right: 20px;
        margin-left: 34px;
    }

    @at-root #{&}List{
        height: 160px;
        width: 690px;
        display: flex;
        align-items: center;
        background: #fff;
        margin-top: 30px;
        box-shadow: 1px 1px 8px rgba($color: #999, $alpha: .1);
    }

    @at-root #{&}Content {
        height: 80px;
        width: 440px;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @at-root #{&}Title {
        font-size: 30px;
        max-width: 410px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 40px;
    }
    @at-root #{&}Text{
        font-size: 26px;
        color: #999;
        line-height: normal;
    }
    @at-root #{&}Size{
        margin-right: 30px;
    }

    @at-root #{&}Img{
        width: 80px;
        height: 80px;
        line-height: normal;
        margin-right: 24px;
    }
}

.bule{
    background: #2fb9c3;
}

.arrowright{
    width: 14px;
    height: 26px;
    line-height: normal;
}

.doc {
    @at-root #{&}Bottom{
        height: 124px;
        position: fixed;
        bottom: 0;
    }
    @at-root #{&}Button {
        height: 124px;
        width: 100vw;
        background: #fff;
        box-sizing: border-box;
        display: flex;
        padding: 0 80px;
        align-items: center;
        justify-content: space-between;
        
    }
    @at-root #{&}Butt{
        width: 260px;
        height: 80px;
        font-size: 30px;
        border-radius: 120px;
        margin: 0;
        padding: 0;
        border: none;
        &:focus {
            outline: none;
        }
    }
    @at-root #{&}upload{
        border: 2px #2fb9c3 solid;
        color: #2fb9c3;
        padding: 0;
        margin: 0;
        background: #fff;
    }
    @at-root #{&}print {
        background: #2fb9c3;
        color: #fff;
    }
}

.weui-picker{
    
    background: transparent;
    bottom: 220px;
    padding: 0 50px;
    box-sizing: border-box;
    animation: slidesUp ease .3s forwards;
    @at-root #{&}__hd{
        height: 34px;
        position: relative;
        top: 50px;
        z-index: inherit;
        background: transparent;
        &:after{
            border: none;
        }
    }
    @at-root #{&}__action{
        flex: initial;
        opacity: 0;
       
        //取消
        &:first-child{
            width: 24px;
            height: 24px;
            font-size: 10px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: -40px;
            display: inline-block;
            
           
        }

        // 确定
        &:last-child{
            width: 620px;
            height: 80px;
            top: 594px;
            left: 64px;
            position: fixed;
           
        }
    }
    @at-root #{&}__bd{
        height: 446px;
        background: transparent;
    }
    @at-root #{&}__mask{
        margin-top: 60px;
        background: transparent;
        overflow: hidden;
        box-sizing: border-box;
    }
   
    @at-root #{&}__group{
        background: transparent;
    }
    
    @at-root #{&}__item {
        background: transparent;
        color: #999;
    }

}


.weui-picker__indicator:before, .weui-picker__indicator:after{
    border-top: #2fb9c3 1px solid;
}

@keyframes slidesUp {
    0% {
        transform: translate3d(0,20%,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}
@keyframes slidesDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

element.style {
    display: none;
}
.weui-animate-slide-up{
    animation: slidesUp linear .3s forwards;
}
.weui-animate-slide-down{
    animation: slidesDown ease .3s forwards;
}

.buttons{
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 750px;
    height: 246px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    animation: slidesUp linear .3s forwards;
    @at-root #{&}cover{
        position: fixed;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        left: 0;
        bottom: 0;
        background: #fff;
        width: 100vw;
        height: 760px;
    }
}
.shop
{
    @at-root #{&}Title{
        font-size: 30px;
        height: 34px;
        line-height: 34px;
        width: 100%;
        text-align: center;
        color: #333333;
        position: relative;
        bottom: 500px;
    }
    @at-root #{&}pic{
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 4px;
    }
}
.totallprice{
    font-size: 30px;
    width: 100%;
    text-align: right;
    height: 48px;
    bottom: 20px;
    //margin-bottom:-20px; 
    position: relative;
    letter-spacing: 1px;
}
.price{
    width: 150px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 36px;
    text-align: left;
    color: #2fb9c3;
}
.surebutton{
   
}
.printbut{
    width: 630px;
    height: 90px;
    background: #2fb9c3;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 40px;
}
.upluadinput{
    position: relative;
    bottom: 80px;
    width: 260px;
    height: 80px;
    opacity: 0;
}
.toast-line{
    display: none;
}